@charset "UTF-8";
/* CSS Document */

@import 'ubs-global-styles.css';

@import 'dropkick.css';

/*
TIP: 
Background: #f0f0f0
Text: #2e2e2e
Gray: #949494
Light Gray: #d7d7d7
Blue: #556996
Light Blue: #a5b9d1
Dark Blue: #21354F
Red?: #d5600a
Alert Red: #e54e4b
Orange: #D5600A
Yellow: #FDF2D3;
Pale Yellow: #FFFAF0
Dull yello: #eeebe2;

*/

/****************** GLOBAL ************************/
body {
	background: #f0f0f0 url('../images/topnav-background.png') repeat-x 0 0;
	font: 12px Arial, Helvetica, sans-serif;
	color: #2e2e2e;
}

a { text-decoration: none; }
* { margin: 0; }

.bold {
	color: #556996;
	font-weight: bold;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

.editable { cursor:auto; }

h4 {
	font-size:10px;
	color:#949494;
	margin: 0;
}

textarea { 
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px; /* future proofing */
	-khtml-border-radius: 3px; /* for old Konqueror browsers */
	border: 1px solid #C9C9C9;
	-moz-box-shadow: inset 0px 0px 4px rgba(68,68,68,0.3);
	-webkit-box-shadow: inset 0px 0px 4px rgba(68,68,68,0.3);
	box-shadow: inset 0px 0px 4px rgba(68,68,68,0.3);
	width: 100%;
	
}
	
/* sticky */

.supdash-footer {
	border-top: 1px solid #d7d7d7;
	width: 978px;
	height: 52px; 
	margin: 0px auto;
}

.supdash-footer p {
	padding: 12px;
}

[class*="icon-"] { margin-right: 4px; }

.test {
	border: 1px solid red;
	background-color:#FCC !important;	

}

.hide {
	display:none;
}



.icon-bolt { color:#CC6600; }

div.layout-978 {
	min-height: 100%;
  /* equal to footer height */
  margin-bottom: -52px; 
  overflow: hidden;
}

div.layout-978:after {
  content: "";
  display: block;
  /* .push must be the same height as footer */
  height: 52px; 
}

.tooltip { cursor:pointer; }

.button { margin-right: 12px; }
.button span { margin-right: 6px; }

.counter {
		cursor:pointer;
		width: 28px;
}



.shadow {
	-webkit-box-shadow: inset 0 0 10px rgba(68,68,68,0.7);
	   -moz-box-shadow: inset 0 0 10px rgba(68,68,68,0.7);
			box-shadow: inset 0 0 10px rgba(68,68,68,0.7);
}

.shadow1 {
	-webkit-box-shadow: inset 0 0 2px rgba(68,68,68,0.3);
	   -moz-box-shadow: inset 0 0 2px rgba(68,68,68,0.3);
			box-shadow: inset 0 0 2px rgba(68,68,68,0.3);
}

.box-shadow {
	-moz-box-shadow: 0px 0px 4px rgba(68,68,68,0.3);
	-webkit-box-shadow: 0px 0px 4px rgba(68,68,68,0.3);
	box-shadow: 0px 0px 4px rgba(68,68,68,0.3);
      zoom: 1;
      filter:
          progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=0,strength=1),
          progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=45,strength=1),
          progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=90,strength=2),
          progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=135,strength=3),
          progid:DXImageTransform.Microsoft.Shadow(color=#cccccc,direction=180,strength=10),
          progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=225,strength=3),
          progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=270,strength=2),
          progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=315,strength=1);
          
}





/****************** ICONS & STATUS INDICATORS ************************/



.severity {

    border-radius: 2px 2px 2px 2px;
    color: #d5600a;
    cursor: pointer;
    font-size: 10px;
    padding: 2px 3px;
    text-transform: uppercase;
    font-weight: bold;
}




/**************************************************
						 $topnav 
**************************************************/
.topnav { 
	margin: 12px 0 24px 0;
	overflow:auto;
	}

/******************************************
			$overview box 
********************************************/
.overview, .comms, .performance{
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius:  4px 4px 4px 4px;
	border-radius:  4px 4px 4px 4px; /* future proofing */
	-khtml-border-radius:  4px 4px 4px 4px; /* for old Konqueror browsers */
	border: 1px solid #949494;
}

.high-priority-sorted {  
	background: url('../images/th-orange.png') repeat-x !important;
	color: #fff !important;
}
.outstanding-sorted {  
	background: url('../images/th-yellow.png') repeat-x !important;
	color: #fff !important;
}
.completed-sorted {  
	background: url('../images/th-teal.png') repeat-x !important;
	color: #fff !important;
}
td.sorted { background: #ebebeb !important;}

.overview { background: url('../images/tilebg-overviewtop.png') repeat-x;}
.comms { background: url('../images/tilebg-blue.png') repeat-x;}
.performance { background:url('../images/tilebg-blue.png') repeat-x;}

.overview h1, .performance h1, .comms h1 {
	font-size: 15px; 
	color: #ffffff;
	text-shadow: 0 -1px 1px rgba(46, 46, 46, .5);
	padding: 6px 0 2px 6px;
}


.onc {
	margin-bottom: 12px;
}

.performance .filters {
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px; /* future proofing */
	-khtml-border-radius: 0 0 4px 4px; /* for old Konqueror browsers */

}

.comms h1 {
	font-size: 12px; 
}

.badge { 

	color: #fff;
	text-shadow: rgba(0,0,0,.2) 0 1px 0;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 12px;
	cursor: pointer;
}
.reportitem { font-size: 12px; color: #556996; font-weight: bold;}

.high-priority .badge { background: url('../images/button-orange.png') no-repeat; margin-left: 50px; }
.outstanding .badge { background: url('../images/button-yellow.png') no-repeat; margin-left: 50px; }
.completed .badge { background: url('../images/button-teal.png') no-repeat; margin-left: 50px; }


/**********************************************
						$filters 
*********************************************/
.filters, .supdash-footer, .recipients {
	background: url('../images/pattern-head-gray.png') 0 0;
	position:relative;
}
.filters { height: 54px; margin-top: 5px; }
fieldset { border: none; padding:0;}
.filters table { margin-top: 2px;}

.filters .label {
    font-size: 9px;
    padding: 2px 0 1px 2px;
}

.filters th, .filters td { padding-left:8px; }

.filters a.button .secondary { 
	font-weight: bold;
	padding: 5px 10px;
}
.texxt {
	border: 1px solid #c7c7c7; 
	padding: 6px 8px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius:3px; /* future proofing */
	-khtml-border-radius: 3px; /* for old Konqueror browsers */
 
}


#acct-search { width: 200px;}
#start-date, #end-date { width: 100px; }
.filters .icon-calendar { font-size: 15px; color: #949494; }
.filters .icon-calendar:hover { color: #556996; cursor: pointer; }



/******************************************
			$comms box 
********************************************/
.comms {
	background-color: #fff;
}

.communication{
	padding: 12px;
	border-bottom: 1px solid #ccc;
	position: relative;
}

.communication:hover {
	cursor: pointer;
	background-color: #f0f0f0;
}

.communication .message {
	margin-top: 6px;
	font-size: 10px;
	color:#5f5f5f;
}

.communication .label{
	margin-right:4px;
}
.communication .close { 
	position: absolute; 
	top:8px; 
	right:8px; 
	color: #949494;
	padding: 4px 4px 2px 6px ;
	border-radius: 3px;
}

.communication .close:hover {
	color: #556996;
	background: #fff;


}


.comm-pagination{
	position: relative;
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px; /* future proofing */
	-khtml-border-radius: 0 0 4px 4px; /* for old Konqueror browsers */
}

.dots { padding: 14px 70px;}
.dots li { display: inline; }
.dots li.dot { background: url('../images/dots.png') 0 0 no-repeat; cursor: pointer; }
.dots li.dot.selected { background: url('../images/dots.png') 0 -16px no-repeat; cursor: pointer; }

/******************************************
			$mylinks 
********************************************/
.mylinks {
	padding: 8px;
	position:relative;
	border: 1px solid #c9c9c9;
	border-top: 0;
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px; /* future proofing */
	-khtml-border-radius: 0 0 4px 4px; /* for old Konqueror browsers */
	height: 30px;
}


.edit-links{
    color: #566996;
    font-size: 10px;
    padding: 4px 6px;
	white-space: nowrap;
    position: absolute;
    left: 120px;
    top: 25%;
}

.edit-links:hover {
	color: #fff;
	background: #556996;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px; /* future proofing */
	-khtml-border-radius: 3px; /* for old Konqueror browsers */
	cursor: pointer;

}




/******************************************
			$flags 
********************************************/
.flags {
	background: #fff;
	padding: 8px;
	height: 34px;
	position:relative;
	border-bottom: 1px solid #ccc;

}

.performance .filters {
	margin-top: 0;
	padding-bottom: 12px;
}


/******************************************
			$modals 
********************************************/

a.button.small {
    font-size: 11px;
}
a.button {
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.ir-datagrid.models td {
    vertical-align: middle;
}
.ir-datagrid th, .ir-datagrid td {
    border: 1px solid #949494;
    padding: 3px 6px;
}

/****************** ADMIN ******************/


/******************************************
			$announcement 
********************************************/

.title {
	color: #556996;
	margin-bottom: 12px;
	position: relative;
}

.title .actions {
	overflow: auto;
	width: 312px;
	position: absolute;
	top: 1px;
	right:12px;
}

.announcement, .announcement-editor, .announcement-editor-new, .spt-message-editor-new {
	background: #fff;
    position: relative;
    overflow: hidden;
    margin-bottom: 12px;
    //box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    border: 2px solid #ccc;
}

.announcement { padding: 12px; }
.announcement:hover {
	background: #eeebe2;
	cursor: pointer;
}
.announcement .msg { 
	width: 86%; 
	line-height: 18px;
	font-size: 12px;
	color: #666;
	 }

/****************** EDITOR ******************/

.recipients {
	min-height: 52px;

}
.location, .audience { padding: 12px; }
.location:before, .audience:before {
	font-size: 10px;
	font-weight: bold; 
	color: #949494;
	margin-right: 12px;
} 
.location:before { content: "LOCATION:"; }
.audience:before { content: "AUDIENCE:"; } 
.announcement-editor .icon-plus, .announcement-editor-new .icon-plus, .spt-message-editor-new .icon-plus { padding: 3px 6px; color: #556996;}
.location a, .audience a, .icon-plus:hover {
	padding: 3px 6px;
	background: #556996;
	color: #fff;
	border-radius: 2px 2px 2px 2px;
	font-size: 10px;
	margin-right: 6px;
	cursor: pointer;
}

.location a:after {
	content: " x";
	margin-left: 6px;	
	color: #a5b9d1;
	border-left: 1px dotted #a5b9d1;
}


.icon-plus { float:right; margin-right: 50px;}
.icon-plus:hover { margin-right: 50px;}

.location-selector { 
	position: absolute;
	width: 960px;
	z-index: 22;
	top: 38px;
	left: 6px;
	border: 1px solid #C9C9C9;
	background: #fff;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
	-moz-box-shadow: 0px 0px 2px rgba(68,68,68,0.3);
	-webkit-box-shadow: 0px 0px 2px rgba(68,68,68,0.3);
	box-shadow: 0px 0px 2px rgba(68,68,68,0.3);
}

.arrow_box {
	position: relative;
	background: #fff;

}
.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 8px;
	right: 6%;
	margin-left: -8px;
}
.arrow_box:before {
	border-color: rgba(201, 201, 201, 0);
	border-bottom-color: #C9C9C9;
	border-width: 9px;
	right: 6%;
	margin-left: -9px;
}

.division, .region, .complex, .branch {
	width: 22%;
	padding: 12px;
	float: left;
}

.location-selector ul { margin: 12px 0;  }
.location-selector li { 
	padding: 4px 6px; 
	margin-bottom:6px; 
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px; /* future proofing */
	-khtml-border-radius: 4px 4px 4px 4px; /* for old Konqueror browsers */  
}
.location-selector li:hover { 
	background: #556996;
	color: #fff;
	cursor: pointer;
}
.location-selector li span { float: right;}
.location-selector .selected { background: #ccc;}
.location-selector .footer { clear:both; padding: 12px;}
.announcement-editor h5, .announcement-editor-new h5, .spt-message-editor-new h5 { color: #949494; font-size: 10px; padding-bottom: 6px;}


/* announcement body */

.announcement-body { padding: 45px; background: #eeebe2; overflow: auto; }
.announcement-body .metas { display: table-row; }
.announcement-body .metas div { 
	float: left;
	display: table-cell;
	margin-right: 12px;
}
#subject { width: 550px;}
#pubdate, #expdate { width: 100px;}
#title, #link { width: 840px;}



.announcement .actions {
	position: absolute;
	top: 44%;
	right: 4px;
	color: #556996;
	font-size: 11px;
}

.announcement .actions .action { margin-right: 4px; padding:6px;  }
.action:hover { 
	background: #556996; 
	cursor: pointer; 
	color: #fff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px; /* future proofing */
	-khtml-border-radius: 3px; /* for old Konqueror browsers */
}
.announcement-editor .right, .announcement-editor-new .right, .spt-message-editor-new .right { position:absolute; top:12px; right:12px; z-index:20;} 
.announcement-editor .actions, .announcement-editor-new .actions, .spt-message-editor-new .actions {
	clear: both;
	overflow: auto;
	padding: 40px 0 0 360px;
	background: url('../images/shadow.png') no-repeat 0 18px;
}

.icon-calendar { color: #949494; margin-left: 4px; font-size: 14px; }
.icon-calendar:hover { color: #556996; cursor: pointer;}




/******************************************
			$modals 
********************************************/
.menu-option {
	margin-left: 12px;	
}


#alert-message .modal-content, #edit-links .modal-content {
	padding: 12px;	
}

.alert-subject, .edit-subject {
	font-size: 15px;
	font-weight:100;
	padding-bottom: 6px;
}

.modal-date {
	color:#999;
	font-size: 11px;
}

.modal-content.severity {
	padding-left: 12px;	
}

.alert-body, .edit-body{
	background:#fff;
	padding: 12px;
	border: 1px solid #cbcbcb;
	margin-top: 6px;
}

.edit-body ul li {
	margin: 12px;	
}

.alert-body ol li {
	margin: 12px;	
}













div.col9 { 
	width:700px;
	 }

div.col3 { 
	margin-left: 30px;
	width:240px;  }
	





















@media print {
  .topnav, .filters, .actions-footer {
	 display: none;
  }
  .datagrid, .tableheader { width: 99%; }
.tableheader { background-color:#CCC; }
}